# .gitignore

/node_modules
/tmp
/dist
/debug
/log

/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup

.env*
!.env.sample
.DS_Store
*.pdf
*.pem